@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #06b6d4;
}
html, body, #root {
  height: 100%;
}
.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
@media (min-width: 640px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .project-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
